/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

body{
    font-size: 62.5;
    background-color: wheat;
}

.mainNavBar{
    box-sizing: border-box;
    height: 25%;
    background-color: #384fab;
    box-shadow: 1px 5px 5px 6px rgb(119, 117, 117);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: 3em;
    padding: 1%;
}

.navLinks{
    padding: .5%;
    padding-bottom:  .9%;
    margin-left: 4%;
    display: flex;
    flex-wrap:wrap;
    width: 40%;
}

.navLinks a{
    display: flex;
    background-color: wheat;
    border: 1px solid black;
    text-transform: uppercase;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

.navLinks a:hover{
    background-color: #384fab;
    color: wheat;
}

.wrapper{
    border: 2px solid black;
}


.topSec{
    display: flex;

    flex: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;

}

#bigPic{
    width: 50%;
    padding: 4px;
}

.description{
    box-sizing: border-box;
    color: rgb(83, 83, 83);
    align-self: center;
    padding-left: 20px;

}

.description h2{
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.description a{
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;

}

.description p{
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 2rem;
}

.firstFourImgs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
}

.firstFourImgs img{
    width: 20%;
}


.secondFourImgs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.secondFourImgs img{
    width: 20%;

}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    padding-top: 20px;
    background-color: #2d3f87;
}

footer h3{
    font-size: 20px;
}

button{
    margin-top: 20px;
    font-size: 15px;
    border-radius: 10px;
    color: black;
    background-color: wheat;
}


@media(max-width: 800px){
    .navLinks{
        flex-wrap: nowrap;
        margin: 0;
    }

    .topSec{
        flex-direction: column;
    }

    #bigPic{
        width: 80%
    }

    .description p{
        font-size: 1.5rem;
    }

}

@media(max-width: 500px){
    #bigPic{
        width: 90%;
    }

    .description p{
        font-size: 0.9rem;
        line-height: 1rem;
        color: black;
    }



}